<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:are_you_sure) } %>
    <%= render partial: 'layouts/form_components/delete_button',
               locals: { delete_path: next_step_path(next_step), button_text: t(:delete_next_step) }
    %>
  </dialog>

  <button
    type="button"
    data-action="dialog#open"
    id="next-step-<%= next_step.id %>-delete">
    <%= image_tag("bi-trash3.svg", alt: t(:delete)) %>
  </button>
</div>
