<li>
  <%= form.label field, field_name, class: 'text-xl' %>
  <%= form.file_field field,
    class: 'rounded-md
            px-3.5 py-1
            w-64
            bg-green-600
            hover:bg-green-500
            text-white
            inline-block
            font-medium
            cursor-pointer',
    accept: accept
  %>
</li>
