<div data-controller="dialog">
  <dialog
    data-dialog-target="dialog"
    class="w-full
           md:w-1/2
           p-4
           rounded-lg
           shadow-xl
           border-2
           dark:bg-black
           dark:text-white
           border-blue-500">
    <%= render partial: 'layouts/dialog_components/header', locals: { title: t(:are_you_sure) } %>
    <%= button_to t(:delete_person),
               person_path(person),
               method: :delete,
               class: 'rounded-md
                       px-3.5 py-1
                       bg-red-600
                       hover:bg-red-500
                       text-white
                       inline-block
                       font-medium
                       cursor-pointer'
    %>
  </dialog>

  <button
    type="button"
    data-action="dialog#open"
    id="person-<%= person.id %>-delete">
    <%= image_tag("bi-trash3.svg", alt: t(:delete)) %>
  </button>
</div>
