<%= render 'layouts/flash' %>

<div class="flex justify-between">
  <%= render 'new_job_application_form' %>
  <%= link_to t(:companies),
    company_index_path,
    class: "rounded-md
            px-3.5 py-1
            bg-green-600
            hover:bg-green-500
            text-white
            inline-block
            font-medium
            cursor-pointer"
  %>
</div>
<h1 class="dark:text-white"></h1>
<%= render 'active_applications' %>
