<%= turbo_frame_tag 'notification_frame' do %>
  <% if next_steps_past_due? %>
    <div class="text-red-500">
      <%= link_to "#{t(:past_due_steps)}: #{@next_steps_past_due}",
                  next_steps_path,
                  { data: { turbo_frame: '_top' } }
      %>
    </div>
  <% end %>
  <% if next_steps_due_today? %>
    <div class="text-orange-500">
      <%= link_to "#{t(:steps_due_today)}: #{@next_steps_due_today}",
                  next_steps_path,
                  { data: { turbo_frame: '_top' } }
      %>
    </div>
  <% end %>
<% end %>
